# Archivos generados por Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Archivos específicos de Android
/android/.gradle/
/android/captures/
/android/local.properties
/android/gradle.properties
/android/key.properties

# Archivos específicos de iOS
/ios/Pods/
/ios/Runner.xcodeproj/project.xcworkspace/
/ios/Runner.xcodeproj/xcuserdata/
/ios/Runner.xcworkspace/
/ios/Runner.xcworkspace/xcuserdata/
/ios/Runner/DerivedData/
/ios/Podfile.lock

# Archivos específicos de macOS
/macos/

# Archivos específicos de Linux
/linux/

# Archivos específicos de Windows
/windows/

# Archivos específicos de Web
/web/

# Archivos de configuración local
.metadata